<template>
  <div class="relative w-full aspect-[16/8] lg:aspect-[16/6] bg-stone-800">
    <div class="absolute left-0 top-4 w-40 h-3 bg-gradient-to-r from-stone-600" />

    <div class="absolute left-0 bottom-0 right-0 flex items-end justify-between gap-4 p-8">
      <div class="w-full max-w-1/2">
        <div class="placeholder w-72 h-8 lg:h-12" />

        <div class="h-4" />

        <div class="hidden lg:block placeholder w-20 h-4" />

        <div class="hidden lg:block h-4" />

        <div class="flex flex-col gap-2">
          <div class="placeholder w-96 h-3" />
          <div class="placeholder w-96 h-3" />
        </div>
      </div>

      <div class="hidden lg:flex items-center justify-end gap-3">
        <div class="flex gap-2">
          <div class="placeholder w-20 h-3" />
          <div class="placeholder w-20 h-3" />
          <div class="placeholder w-20 h-3" />
        </div>

        <div class="flex -space-x-2">
          <div class="placeholder w-6 h-6 rounded-full" />
          <div class="placeholder w-6 h-6 rounded-full" />
          <div class="placeholder w-6 h-6 rounded-full" />
        </div>
      </div>
    </div>
  </div>
</template>