<template>
  <div
    class="relative w-full aspect-[16/8] lg:aspect-[16/6] bg-center bg-cover bg-fixed"
    :style="{
      backgroundImage: `url('/burning-days-cover-1280-720.webp')`,
    }"
  >
    <span
      class="absolute inset-0 block w-full h-full"
      :style="{
        backgroundImage: `linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.4) 35%,
          rgba(0, 0, 0, 0.6) 70%,
          rgba(0, 0, 0, 0.8) 100%
        )`
      }"
    />

    <h6 class="absolute left-0 top-4 inline-block text-12/16 font-500 leading-none text-white uppercase bg-gradient-to-r from-stone-800 pl-8 pr-12">
      Best of the day
    </h6>

    <div class="absolute left-0 bottom-0 right-0 flex items-end justify-between gap-4 p-8">
      <div class="lg:w-1/2">
        <h3 class="text-32/16 lg:text-48/16 text-300 leading-none">
          <router-link :to="`/movie/${movie.imdbID}`">
            {{ movie.Title }}
          </router-link>
        </h3>

        <span class="hidden lg:flex items-center gap-2 text-stone-300 mt-3">
          <RiVidiconFill class="w-3 h-3 lg:w-5 lg:h-5" />

          <router-link
            class="text-12/16 lg:text-15/16 leading-none text-stone-300 hover:text-stone-200 hover:underline"
            :to="`/name/${movie.Director}`"
          >{{ movie.Director }}</router-link>
        </span>

        <p class="text-16/16 text-stone-300 line-clamp-2 mt-2">{{ movie.Plot }}</p>
      </div>

      <span class="hidden lg:flex items-center gap-3">
        <span class="flex items-center gap-1">
          <span
            :key="actor"
            v-for="(actor, index) in actors"
          >
            <router-link
              class="text-15/16 leading-none text-stone-300 hover:text-stone-200 hover:underline"
              :to="`/name/${actor}`"
            >{{ actor }}</router-link>{{ index !== actors.length - 1 ? `, ` : '' }}
          </span>
        </span>

        <span class="flex items-ceter -space-x-2">
          <router-link
            :to="`/name/${actor}`"
            :key="actor"
            v-for="(actor, index) in actors"
          >
            <button class="block w-6 h-6 bg-stone-500 rounded-full cursor-pointer overflow-hidden shadow shadow-stone-900" />
          </router-link>
        </span>
      </span>
    </div>

  </div>
</template>

<script setup lang="ts">
import { ComputedRef, computed } from 'vue'

import RiVidiconFill from 'vue-remix-icons/icons/RiVidiconFill.vue'

import { IMovie } from '../../types/models'

import IMDBIcon from '../../components/IMDBIcon.vue'

type Props = {
  movie: IMovie;
}

const { movie } = defineProps<Props>()

const actors: ComputedRef<Array<string>> = computed(() => {
  return movie.Actors.split(', ')
})
</script>
