<template>
  <div class="w-full h-full overflow-auto">
    <FeaturedMoviePlaceholder v-if="featuredMovie.movieLoading" />

    <FeaturedMovie
      :movie="featuredMovie.movie"
      v-if="!featuredMovie.movieLoading && featuredMovie.movie"
    />

    <div class="p-8">
      <span class="flex items-center gap-3">
        <h3>
          <router-link
            to="/browse/latest"
            class="flex items-center gap-2 text-24/16 hover:underline"
          >
            <span>Latest Movies</span>

            <RiArrowRightSLine class="w-6 h-6" />
          </router-link>
        </h3>
      </span>

      <span class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-6 mt-6">
        <p v-if="latestMovies.moviesLoading">Movies loading...</p>

        <p v-if="!latestMovies.moviesLoading && latestMovies.moviesLoadingErrorMessage">{{ latestMovies.moviesLoadingErrorMessage }}</p>

        <template v-if="!latestMovies.moviesLoading && latestMovies.movies.length > 0">
          <MovieCard
            :movie="movie"
            :key="movie.imdbID"
            v-for="movie in latestMovies.movies"
          />
        </template>
      </span>
    </div>

    <label class="fixed left-2 bottom-2">
      <input
        type="checkbox"
        v-model="featuredMovie.movieLoading"
        :true-value="true"
        :false-value="false"
      />
    </label>
  </div>
</template>

<script setup lang="ts">
import { onMounted, reactive } from 'vue'

import RiArrowRightSLine from 'vue-remix-icons/icons/RiArrowRightSLine.vue'

import { IMovie, IMovieMini } from '../../types/models'

import { getMovieByImdbId, searchMovie } from '../../services/services.movie'

import MovieCard from '../../components/MovieCard.vue'

import FeaturedMovie from './FeaturedMovie.vue'
import FeaturedMoviePlaceholder from './FeaturedMoviePlaceholder.vue'

type LatestMoviesProps = {
  moviesLoading: boolean;
  moviesLoadingErrorMessage: string;
  movies: IMovieMini[];
}

type FeaturedMovieProps = {
  movieLoading: boolean;
  movieLoadingErrorMessage: string;
  movie: IMovie | null;
}

const FEATURED_MOVIE_IDS = [
  'tt14859416', // Burning Days
  'tt6628102', // The Wild Pear Tree,
  'tt1827487', // Once Upon a Time in Anatolia
  'tt0875595', // Destinity
  'tt0287803', // Fate
]

const latestMovies: LatestMoviesProps = reactive({
  moviesLoading: true,
  moviesLoadingErrorMessage: '',
  movies: [],
})

const featuredMovie: FeaturedMovieProps = reactive({
  movieLoading: true,
  movieLoadingErrorMessage: '',
  movie: null,
})

const handleSetLatestMovies = async () => {
  await new Promise((r) => setTimeout(r, 300))

  try {
    latestMovies.moviesLoading = true
    latestMovies.moviesLoadingErrorMessage = ''

    const { Search } = await searchMovie({ s: 'job' })

    latestMovies.movies = Search
  } catch (error) {
    latestMovies.moviesLoadingErrorMessage = error instanceof Error
      ? error.message
      : 'Unexpected error occured'
  } finally {
    latestMovies.moviesLoading = false
  }
}

const handleSetFeaturedMovie = async () => {
  await new Promise((r) => setTimeout(r, 300))

  try {
    featuredMovie.movieLoading = true
    featuredMovie.movieLoadingErrorMessage = ''

    const imdbID = FEATURED_MOVIE_IDS[Math.floor(Math.random() * FEATURED_MOVIE_IDS.length)]

    featuredMovie.movie = await getMovieByImdbId(imdbID)
  } catch (error) {
    featuredMovie.movieLoadingErrorMessage = error instanceof Error
      ? error.message
      : 'Unexpected error occured'
  } finally {
    featuredMovie.movieLoading = false
  }
}

onMounted(() => {
  handleSetFeaturedMovie()

  handleSetLatestMovies()
})
</script>
