<template>
  <div class="w-full h-full flex flex-col items-center p-8 pt-12">
    <h1 class="text-32/16 font-200 tracking-tight">404. not found.</h1>

    <button
      class="text-yellow-500  mt-4"
      @click="$router.back()"
    >GO BACK</button>
  </div>
</template>
