<template>
  <div class="w-full h-full flex flex-col items-center text-center p-8 pt-12">
    <h1 class="text-48/16 font-700 tracking-tighter">this page is not ready, yet.</h1>

    <button
      class="text-18/16 text-yellow-500 mt-8"
      @click="$router.back()"
    >GO BACK</button>
  </div>
</template>
