<template>
  <router-link to="/" class="inline-flex items-center gap-2 text-stone-900 rounded-sm bg-yellow-400 py-1.5 px-4">
    <RiBubbleChartFill class="w-4 h-4" />

    <span class="text-14/16 font-600 tracking-widest leading-none uppercase">MODI</span>
  </router-link>
</template>

<script setup lang="ts">
import RiBubbleChartFill from 'vue-remix-icons/icons/RiBubbleChartFill.vue'
</script>
