<template>
  <div class="w-full flex items-start gap-4 p-4 bg-gradient-to-bl from-stone-800 hover:to-stone-800 rounded overflow-hidden">
    <router-link :to="`/movie/${movie.imdbID}`">
      <figure
        class="w-24 aspect-[10/16] rounded bg-cover bg-center bg-stone-700 bg-opacity-50"
        :class="{
          'flex items-center justify-center text-stone-500': movie.Poster === 'N/A'
        }"
        :style="{
          backgroundImage: movie.Poster !== 'N/A' ? `url(${movie.Poster})` : undefined,
        }"
      >
        <RiFileDamageLine class="w-10 h-10" v-if="movie.Poster === 'N/A'" />
      </figure>
    </router-link>

    <span class="w-full flex-1">
      <router-link
        :to="`/genres/${movie.Type.toLowerCase()}`"
        class="text-12/16 font-500 leading-none border-l-4 px-2 uppercase tracking-widest"
        :class="{
          'border-yellow-500': movie.Type === 'movie',
          'border-green-500': movie.Type === 'series',
          'border-blue-500': movie.Type === 'episode',
          'border-red-500': movie.Type === 'game',
        }"
      >{{ movie.Type }}</router-link>

      <h6 class="text-18/16 leading-snug mt-3">
        <router-link
          class="hover:underline"
          :to="`/movie/${movie.imdbID}`"
        >{{ movie.Title }}</router-link>
      </h6>

      <p class="mt-1 text-stone-400 text-14/16 line-clamp-2">{{ sentence }}</p>
    </span>
  </div>
</template>

<script setup lang="ts">
import { faker } from '@faker-js/faker'

import RiFileDamageLine from 'vue-remix-icons/icons/RiFileDamageLine.vue'

import { IMovieMini } from '../types/models'

type Props = {
  movie: IMovieMini;
}

defineProps<Props>()

const sentence = faker.lorem.sentence()
</script>
