<template>
  <span class="flex items-center justify-center lg:justify-start gap-4">
    <PaginationLink
      :disabled="currentPage === 1"
    >First</PaginationLink>

    <PaginationLink
      :page="hasPreviousPage ? currentPage - 1 : undefined"
      :disabled="!hasPreviousPage"
    >Previous</PaginationLink>

    <PaginationLink
      :page="hasNextPage ? currentPage + 1 : undefined"
      :disabled="!hasNextPage"
    >Next</PaginationLink>

    <PaginationLink
      :page="totalPages"
      :disabled="currentPage === totalPages"
    >Last</PaginationLink>
  </span>
</template>

<script setup lang="ts">
import { computed, ComputedRef } from 'vue'

import PaginationLink from './PaginationLink.vue'

type Props = {
  currentPage: number;
  perPage: number;
  totalCount: number;
}

const { currentPage, perPage, totalCount } = defineProps<Props>()

const totalPages: ComputedRef<number> = computed(() => Math.ceil(totalCount / perPage))

const hasPreviousPage: ComputedRef<boolean> = computed(() => currentPage > 1)
const hasNextPage: ComputedRef<boolean> = computed(() => Math.ceil(totalCount / perPage) > currentPage)
</script>
