<template>
  <router-link
    :to="{ query: { ...route.query, page }}"
    class="border rounded text-center select-none px-3"
    :class="{
      'border-stone-700 text-stone-500 pointer-events-none': disabled,
      'border-stone-400 text-stone-300 active:bg-stone-700': !disabled,
    }"
  >
    <slot />
  </router-link>
</template>

<script setup lang="ts">
import { useRoute } from 'vue-router'

type Props = {
  page?: number;
  disabled: boolean;
}

const { page, disabled } = defineProps<Props>()

const route = useRoute()
</script>
