<template>
  <div class="w-full h-full overflow-auto p-8">
    <h1 class="text-24/16 lg:text-48/16">Search Result: "{{ route.query.s }}"</h1>

    <span class="flex items-center gap-2" v-if="state.moviesLoading">
      <RiLoaderLine class="w-4 h-4 animate-spin" />

      Movies loading...
    </span>

    <div class="mt-2" v-if="!state.moviesLoading && state.moviesLoadingErrorMessage">
      <p class="text-red-400">{{ state.moviesLoadingErrorMessage }}</p>

      <button
        class="border border-stone-400 text-stone-300 rounded pb-1 px-3 mt-4"
        @click="handleSearchMovie(route.query)"
      >Try Again</button>
    </div>

    <p v-if="!state.moviesLoading && state.movies.length > 0">
      <template v-if="totalPages == 1">
        {{ state.moviesTotalCount }} movies were found in {{ totalPages }} pages.
      </template>
      
      <template v-else>
        {{ state.moviesTotalCount }} movies found.
      </template>
    </p>

    <span class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-6 py-6">
      <MovieCard
        :movie="movie"
        :key="movie.imdbID"
        v-for="movie in state.movies"
      />
    </span>

    <Pagination
      :per-page="perPage"
      :current-page="state.currentPage"
      :total-count="state.moviesTotalCount"
      v-if="!state.moviesLoading && state.moviesTotalCount > 10"
    />
  </div>
</template>

<script setup lang="ts">
import { Ref, ComputedRef, onBeforeMount, onMounted, computed, reactive, nextTick, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'

import _takeRight from 'lodash/takeRight'
import _take from 'lodash/take'

import RiLoaderLine from 'vue-remix-icons/icons/RiLoaderLine.vue'

import { searchMovie } from '../../services/services.movie'

import { IMovieMini } from '../../types/models'

import MovieCard from '../../components/MovieCard.vue'
import Pagination from '../../components/Pagination.vue'

type StateProps = {
  moviesLoading: boolean;
  moviesLoadingErrorMessage: string;
  movies: Array<IMovieMini>;
  moviesTotalCount: number;
  currentPage: number;
}

type QueryParameters = {
  s?: string;
  page?: number;
  type?: string;
  y?: number;
}

const route = useRoute()
const router = useRouter()

const state: StateProps = reactive({
  moviesLoading: true,
  moviesLoadingErrorMessage: '',
  movies: [],
  moviesTotalCount: 0,
  currentPage: 1,
})

const perPage: Ref<number> = ref(10)

const totalPages: ComputedRef<number> = computed(() => Math.ceil(state.moviesTotalCount / perPage.value))

const handleSearchMovie = async (params: QueryParameters) => {
  // await new Promise((r) => setTimeout(r, 500))

  try {
    state.moviesLoading = true
    state.moviesLoadingErrorMessage = ''
    state.movies = []
    state.moviesTotalCount = 0

    const { page, type, s, y } = params

    const { Search, totalResults } = await searchMovie({ page, type, s, y })

    state.movies = Search
    state.moviesTotalCount = totalResults
  } catch (error) {
    state.moviesLoadingErrorMessage = error instanceof Error
      ? error.message
      : 'Unexpected error occured'
  } finally {
    state.moviesLoading = false
  }
}

onBeforeMount(() => {
  if (!route.query.s) {
    router.replace('/')

    return
  }
})

onMounted(() => {
  if (route.query.page) {
    state.currentPage = route.query.page ? Number(route.query.page) : 1
  }

  nextTick(() => {
    handleSearchMovie(route.query)
  })
})
</script>