<template>
  <li class="flex flex-col gap-0.5">
    <span class="text-stone-500 uppercase text-14/16">{{ title }}</span> {{ value }}
  </li>
</template>

<script setup lang="ts">
type Props = {
  title: string;
  value?: string;
}

defineProps<Props>()
</script>
