<template>
  <ul
    :class="[
      'w-full flex flex-col items-start flex-wrap gap-4 text-stone-300 mt-8',
      'md:flex-row md:gap-12',
      'xl:flex-col xl:gap-4',
    ]"
  >
    <DetailListItem
      title="Released"
      :value="movie.Released"
    />

    <DetailListItem
      title="Language"
      :value="movie.Language"
    />

    <DetailListItem
      title="Country"
      :value="movie.Country"
    />

    <DetailListItem
      title="Awards"
      :value="movie.Awards"
    />

    <DetailListItem
      title="BoxOffice"
      :value="movie.BoxOffice"
    />
  </ul>
</template>

<script setup lang="ts">
import { IMovie } from '../../types/models'

import DetailListItem from './DetailListItem.vue'

type Props = {
  movie: IMovie;
}

defineProps<Props>()
</script>
