<template>
  <div>
    <header class="w-full aspect-[16/4]">
      <figure class="placeholder w-full h-full" />
    </header>

    <main class="flex items-start gap-8 p-8">
      <div class="w-64 flex-shrink-0 -mt-40">
        <div class="w-full aspect-[11/16] bg-stone-700" />

        <div class="flex flex-col mt-4 divide-y divide-stone-800">
          <div class="flex gap-6 py-4 px-4" :key="i" v-for="i in 3">
            <div class="placeholder w-4 h-4" />
            <div class="placeholder w-24 h-4" />
          </div>
        </div>

        <div class="flex flex-col mt-4 divide-y divide-stone-800">
          <div class="flex flex-col gap-2 py-4 px-4" :key="i" v-for="i in 2">
            <div class="placeholder w-12 h-4" />
            <div class="placeholder w-24 h-3" />
          </div>
        </div>
      </div>

      <div class="w-full flex-1">
        <div class="placeholder w-72 h-12" />

        <div class="h-5" />

        <div class="flex items-center gap-4">
          <div class="placeholder w-16 h-4" :key="i" v-for="i in 3" />
        </div>

        <div class="h-8" />

        <div class="flex flex-col gap-4">
          <div class="placeholder w-full h-4" />
          <div class="placeholder w-11/12 h-4" />
          <div class="placeholder w-1/3 h-4" />
        </div>

        <div class="h-10" />

        <div class="flex flex-col gap-6">
          <div class="flex flex-col gap-3" :key="i" v-for="i in 4">
            <div class="placeholder w-16 h-3" />
            <div class="placeholder w-32 h-3" />
          </div>

        </div>

      </div>

      <div class="w-64 flex-shrink-0">
        <div class="flex flex-col gap-6">
          <div class="placeholder w-16 h-3" />

          <div class="flex items-center gap-4">
            <div class="placeholder w-8 h-8 rounded-full" />
            <div class="placeholder w-16 h-4" />
          </div>
        </div>

        <div class="h-10" />

        <div class="flex flex-col gap-6">
          <div class="placeholder w-16 h-3" />

          <div class="flex items-center gap-4">
            <div class="placeholder w-8 h-8 rounded-full" />
            <div class="placeholder w-16 h-4" />
          </div>

          <div class="flex items-center gap-4">
            <div class="placeholder w-8 h-8 rounded-full" />
            <div class="placeholder w-16 h-4" />
          </div>
        </div>

        <div class="h-10" />

        <div class="flex flex-col gap-6">
          <div class="placeholder w-16 h-3" />

          <div class="flex items-center gap-4">
            <div class="placeholder w-8 h-8 rounded-full" />
            <div class="placeholder w-16 h-4" />
          </div>

          <div class="flex items-center gap-4">
            <div class="placeholder w-8 h-8 rounded-full" />
            <div class="placeholder w-16 h-4" />
          </div>

          <div class="flex items-center gap-4">
            <div class="placeholder w-8 h-8 rounded-full" />
            <div class="placeholder w-16 h-4" />
          </div>
        </div>
      </div>
    </main>
  </div>
</template>
