<template>
  <section class="w-full h-full overflow-auto relative">

    <div
      class="w-full h-full flex flex-col items-center justify-center gap-8"
      v-if="state.movieLoading || state.movieLoadingErrorMessage"
    >
      <template v-if="state.movieLoading">
        <RiLoader5Line class="w-16 h-16 animate-spin" />

        <span class="text-20/16">Movie Loading...</span>
      </template>

      <template v-if="state.movieLoadingErrorMessage">
        <RiErrorWarningLine class="w-16 h-16" v-if="state.movieLoadingErrorMessage" />

        <span class="text-20/16">{{ state.movieLoadingErrorMessage }}</span>
      </template>
    </div>

    <header class="relative w-full aspect-[16/0] md:aspect-[16/4] overflow-hidden" v-if="!state.movieLoading && state.movie">
      <figure
        class="absolute -inset-4 bg-center bg-cover bg-black bg-opacity-20 blur grayscale"
        :style="{
          backgroundImage: state.movie.Poster !== 'N/A' ? `url('${state.movie.Poster}')` : undefined,
        }"
      />
    </header>

    <main class="relative md:flex items-start gap-8 p-8" v-if="!state.movieLoading && state.movie">
      <!-- side -->
      <aside class="w-full md:w-64 flex md:flex-col items-start justify-start gap-4 flex-shrink-0">
        <div class="w-full max-w-72 md:-mt-32">
          <a
            class="w-full block"
            :href="state.movie.Poster"
            target="_blank"
            v-if="state.movie.Poster !== 'N/A'"
          >
            <img
              class="w-full block"
              :src="state.movie.Poster"
              :alt="state.movie.Title"
            />
          </a>

          <div class="w-full aspect-[11/16] flex items-center justify-center bg-stone-700" v-else>
            <RiFileDamageLine class="w-10 h-10 text-stone-400" />
          </div>
        </div>

        <div class="w-full flex-1 flex flex-col items-start md:mt-4">
          <!-- imdb rating -->
          <div class="w-full px-4 md:px-2">
            <a
              class="w-full flex items-center justify-between gap-4 bg-yellow-500 text-stone-900 text-22/16 font-700 rounded-sm select-none py-1 px-4"
              :href="`https://www.imdb.com/title/${state.movie.imdbID}/`"
              target="_blank"
            >
              <IMDBIcon class="w-12" /> {{ state.movie.imdbRating }}
            </a>
          </div>

          <div class="w-full h-px bg-stone-800 my-4 md:my-6" />

          <!-- buttons -->
          <span class="w-full flex flex-col divide-y divide-stone-800">
            <button class="flex items-center lg:gap-2 text-left text-14/16 hover:bg-stone-700 hover:bg-opacity-20 py-3 select-none">
              <RiLiveLine class="w-12 h-4" /> Watch Trailer
            </button>

            <button class="flex items-center lg:gap-2 text-left text-14/16 hover:bg-stone-700 hover:bg-opacity-20 py-3 select-none">
              <RiTimeLine class="w-12 h-4" /> Add To WatchList
            </button>

            <button class="flex items-center lg:gap-2 text-left text-14/16 hover:bg-stone-700 hover:bg-opacity-20 py-3 select-none">
              <RiShareBoxLine class="w-12 h-4" /> Share
            </button>
          </span>
        </div>
      </aside>

      <!-- main -->
      <main class="block xl:flex items-start gap-8">

        <!-- main left -->
        <div class="w-full flex-1">
          <h1 class="text-48/16 text-300 leading-none">{{ state.movie.Title }}</h1>

          <!-- featured info -->
          <ul class="w-full flex flex-wrap gap-4 mt-4 text-stone-300">
            <li class="flex items-center gap-2 text-14/16">
              <RiCalendarEventLine class="w-4 h-4" /> {{ state.movie.Year }}
            </li>

            <li class="flex items-center gap-2 text-14/16">
              <RiTimerLine class="w-4 h-4" /> {{ state.movie.Runtime }}
            </li>

            <li class="flex items-center gap-2 text-14/16">
              <RiEmotionLine class="w-4 h-4" /> {{ state.movie.Genre }}
            </li>
          </ul>

          <!-- plot -->
          <p class="w-full max-w-xl text-20/16 mt-4">{{ state.movie.Plot }}</p>

          <!-- details -->
          <DetailList :movie="state.movie" />
        </div>

        <!-- main right -->
        <div class="w-full xl:w-64 flex-shrink-0 mt-12">
          <span class="block xl:hidden h-[2px] bg-stone-800 my-8" />

          <span class="flex flex-col items-start gap-8">
            <NameGroupCard :names="state.movie.Director" title="Director" />
            <NameGroupCard :names="state.movie.Writer" title="Writer" />
            <NameGroupCard :names="state.movie.Actors" title="Star" />
          </span>

        </div>

      </main>
    </main>

  </section>
</template>

<script setup lang="ts">
import { onMounted, reactive } from 'vue'
import { useRoute } from 'vue-router'

import RiLoader5Line from 'vue-remix-icons/icons/RiLoader5Line.vue'
import RiErrorWarningLine from 'vue-remix-icons/icons/RiErrorWarningLine.vue'
import RiLiveLine from 'vue-remix-icons/icons/RiLiveLine.vue'
import RiShareBoxLine from 'vue-remix-icons/icons/RiShareBoxLine.vue'
import RiTimeLine from 'vue-remix-icons/icons/RiTimeLine.vue'
import RiTimerLine from 'vue-remix-icons/icons/RiTimerLine.vue'
import RiCalendarEventLine from 'vue-remix-icons/icons/RiCalendarEventLine.vue'
import RiEmotionLine from 'vue-remix-icons/icons/RiEmotionLine.vue'
import RiFileDamageLine from 'vue-remix-icons/icons/RiFileDamageLine.vue'

import { IMovie } from '../../types/models'

import { getMovieByImdbId } from '../../services/services.movie'

import IMDBIcon from '../../components/IMDBIcon.vue'
import DetailList from './DetailList.vue'
import NameGroupCard from './NameGroupCard.vue'

type StateProps = {
  movieLoading: boolean;
  movieLoadingErrorMessage: string;
  movie: IMovie | null;
}

const route = useRoute()

const state: StateProps = reactive({
  movieLoading: true,
  movieLoadingErrorMessage: '',
  movie: null,
})

const handleGetMovie = async () => {
  await new Promise((r) => setTimeout(r, 300))

  try {
    state.movieLoading = true
    state.movieLoadingErrorMessage = ''

    state.movie = await getMovieByImdbId(route.params.imdbID)
  } catch (error) {
    state.movieLoadingErrorMessage = error instanceof Error
      ? error.message
      : 'Unexpected error occured'
  } finally {
    state.movieLoading = false
  }
}

onMounted(handleGetMovie)
</script>
