<template>
  <span class="flex flex-col items-start gap-4">
    <h3 class="text-14/16 text-stone-500 font-500 uppercase">{{ title }}</h3>

    <NameGroup :names="names" />
  </span>
</template>

<script setup lang="ts">
import {} from 'vue'

import NameGroup from './NameGroup.vue'

type Props = {
  title: string;
  names: string;
}

defineProps<Props>()
</script>
