<template>
  <span class="flex flex-col items-start gap-4">
    <router-link
      :to="`/name/${name}`"
      :key="name"
      v-for="name in namesArray"
    >
      <span class="flex items-center gap-3">
        <button class="block w-8 h-8 bg-stone-700 rounded-full cursor-pointer overflow-hidden" />

        {{ name }}
      </span>
    </router-link>
  </span>
</template>

<script setup lang="ts">
import { ComputedRef, computed } from 'vue'

type Props = {
  names: string;
}

const { names } = defineProps<Props>()

const namesArray: ComputedRef<Array<string>> = computed(() => {
  if (!names) {
    return []
  }

  return names.split(', ')
})
</script>
