<template>
  <div class="fixed inset-0 w-full h-full flex flex-col overflow-hidden" :key="$route.fullPath">
    <Navbar
      ref="navbar"
      @click-hamburger-menu="showSidebar = !showSidebar"
    />

    <div class="flex flex-1 w-full h-full overflow-hidden">
      <Sidebar
        ref="sidebar"
        :show="showSidebar"
      />

      <main class="relative flex-1 w-full h-full overflow-hidden">
        <router-view />
      </main>
    </div>

    <!-- <span class="fixed bottom-2 right-2 p-2">
      {{ showSidebar }}
    </span> -->
  </div>
</template>

<script setup lang="ts">
import { Ref, onBeforeUnmount, ref, watch } from 'vue'
import { useRoute } from 'vue-router'

import Navbar from './App_Navbar.vue'
import Sidebar from './App_Sidebar.vue'

const route = useRoute()

const sidebar = ref<InstanceType<typeof Sidebar> | null>(null)
const navbar = ref<InstanceType<typeof Navbar> | null>(null)

const showSidebar: Ref<boolean> = ref(false)

const handleDocumentClick = (e: MouseEvent) => {
  if (sidebar.value?.sidebarRef && navbar.value?.hamburgerMenuButtonRef) {
    const sidebarEl = (<HTMLInputElement>sidebar.value.sidebarRef)
    const hamburgerMenuEl = (<HTMLInputElement>navbar.value.hamburgerMenuButtonRef)

    const isClickInside = e.composedPath().includes(sidebarEl)
      || e.composedPath().includes(hamburgerMenuEl)

    if (!isClickInside) {
      showSidebar.value = false
    }
  }
}

watch(showSidebar, (yes) => {
  if (yes) {
    document.addEventListener('click', handleDocumentClick)
  } else {
    document.removeEventListener('click', handleDocumentClick)
  }
})

watch(() => route.fullPath, (value) => {
  showSidebar.value = false
})

onBeforeUnmount(() => {
  document.removeEventListener('click', handleDocumentClick)
})
</script>
