<template>
  <span class="relative w-full flex-1" ref="search">
    <form @submit.prevent="handleSubmitSearchForm">
      <label
        class="w-full flex-1 flex items-center gap-6 transition-all duration-200"
        :class="{
          'bg-stone-800 rounded-t': showSearchFilter,
        }"
      >
        <RiSearch2Line class="absolute left-2 top-1/2 -translate-y-1/2 w-5 h-5 fill-stone-500" />

        <input
          class="w-full bg-transparent leading-none focus:outline-none text-stone-200 placeholder-stone-400 py-4 px-5 pl-12"
          placeholder="Search movie, series, episode..."
          ref="searchInput"
          v-model="form.s"
          @focus="showSearchFilter = true"
        />
      </label>

      <div
        class="absolute top-full left-0 right-0 z-1 transition-all duration-200"
        :class="{
          'invisible opacity-0': !showSearchFilter,
          'visible opacity-100': showSearchFilter,
        }"
      >
        <div class="flex flex-col bg-stone-800 rounded-b py-2">

          <div class="flex items-center py-2 px-6">
            <div class="w-24 text-14/16">Type</div>

            <div class="flex flex-col items-start gap-1 py-1 lg:flex-row lg:flex-wrap lg:items-center lg:gap-4">
              <label class="flex items-center gap-2 cursor-pointer">
                <input type="radio" value="" v-model="form.type" />

                <span class="text-14/16">all</span>
              </label>

              <label
                class="flex items-center gap-2 cursor-pointer"
                :value="movieType"
                :key="movieType"
                v-for="movieType in MOVIE_TYPES"
              >
                <input type="radio" :value="movieType" v-model="form.type" />

                <span class="text-14/16">{{ movieType }}</span>
              </label>
            </div>
          </div>

          <div class="flex items-center py-2 px-6">
            <div class="w-24 text-14/16">Year</div>

            <div class="w-full flex-1 flex items-center justify-start gap-3 py-1">
              <select
                class="bg-stone-600 rounded py-1 px-2"
                v-model="form.y"
              >
                <option value="">All Time</option>
                <option :value="y" :key="y" v-for="y in years">{{ y }}</option>
              </select>
            </div>
          </div>

          <div class="flex items-center py-2 px-6 mt-4">
            <div class="w-full flex-1">
              <button
                type="submit"
                class="text-stone-900 bg-yellow-500 rounded select-none py-1 px-8 border border-transparent disabled:bg-transparent disabled:border-stone-600 disabled:text-stone-400 disabled:cursor-not-allowed transition-all duration-100"
                :disabled="form.s === ''"
              >Search</button>
            </div>
          </div>

        </div>

      </div>
    </form>
  </span>
</template>

<script setup lang="ts">
import { Ref, reactive, ref, onMounted, onBeforeUnmount } from 'vue'
import { useRoute, useRouter } from 'vue-router'

import _range from 'lodash/range'

import RiSearch2Line from 'vue-remix-icons/icons/RiSearch2Line.vue'

import { MOVIE_TYPES } from '../utils/constants'

type FormProps = {
  s: string;
  type?: string;
  y?: string | number;
}

const route = useRoute()
const router = useRouter()

const search = ref(null)
const searchInput = ref(null)

const form: FormProps = reactive({
  s: '',
  type: '',
  y: '',
}) 

const showSearchFilter: Ref<boolean> = ref(false)

const years: Ref<Array<number>> = ref(_range(2000, 2024).reverse())

const handleSubmitSearchForm = () => {
  let type = form.type
  let y = form.y

  if (form.type === '') {
    type = undefined
  }

  if (form.y === '') {
    y = undefined
  }

  showSearchFilter.value = false

  router.push({
    path: '/search',
    query: {
      s: form.s,
      type,
      y,
    }
  })
}

const handleSearchOutsideClick = (e: MouseEvent) => {
  if (search.value) {
    const el = (<HTMLInputElement>search.value)
    const isClickOutside = !e.composedPath().includes(el)

    if (isClickOutside) {
      showSearchFilter.value = false
    }
  }
}

const handleKeyDown = (e: KeyboardEvent) => {
  if (e.key === 'Escape') {
    showSearchFilter.value = false

    if (searchInput.value) {
      const searchInputEl = (<HTMLInputElement>searchInput.value)

      searchInputEl.blur()
    }
  }
}

onMounted(() => {
  document.addEventListener('click', handleSearchOutsideClick)
  document.addEventListener('keydown', handleKeyDown)

  if (route.query.s) {
    form.s = route.query.s.toString()
  }
})

onBeforeUnmount(() => {
  document.removeEventListener('click', handleSearchOutsideClick)
  document.removeEventListener('keydown', handleKeyDown)
})
</script>
