<template>
  <nav class="w-full h-16 relative flex items-center justify-between gap-4 border-b border-black border-opacity-20 py-2 px-6">

    <span class="w-full flex-1 flex items-center gap-4">
      <div class="hidden lg:block w-40">
        <Logo />
      </div>

      <div class="block lg:hidden">
        <button
          class="w-10 h-10 flex items-center justify-center text-stone-400"
          @click="emit('click-hamburger-menu')"
          ref="hamburgerMenuButtonRef"
        >
          <RiMenuLine class="w-6 h-6" />
        </button>
      </div>

      <span class="hidden lg:block w-[1px] h-6 bg-stone-700 -ml-2" />

      <SearchBox />
    </span>

    <span class="hidden lg:block w-[1px] h-6 bg-stone-700" />

    <span class="hidden lg:flex items-center gap-4">
      <button class="bg-yellow-400 hover:bg-yellow-300 active:bg-yellow-400 text-stone-900 rounded leading-none py-2 px-4">What's your mood?</button>

      <span class="flex items-center gap-1">
        <button class="text-stone-400 hover:text-stone-300 p-2">
          <RiNotificationLine class="w-4 h-4 fill-current" />
        </button>

        <button class="text-stone-400 hover:text-stone-300 p-2">
          <RiSettings2Line class="w-4 h-4 fill-current" />
        </button>
      </span>

      <button class="block w-8 h-8 bg-stone-700 rounded-full cursor-pointer overflow-hidden" />
    </span>

  </nav>
</template>

<script setup lang="ts">
import { ref } from 'vue'

import RiNotificationLine from 'vue-remix-icons/icons/RiNotificationLine.vue'
import RiSettings2Line from 'vue-remix-icons/icons/RiSettings2Line.vue'
import RiMenuLine from 'vue-remix-icons/icons/RiMenuLine.vue'

import Logo from '../components/Logo.vue'
import SearchBox from './App_Navbar_SearchBox.vue'

const emit = defineEmits(['click-hamburger-menu'])

const hamburgerMenuButtonRef = ref(null)

defineExpose({
  hamburgerMenuButtonRef
})
</script>
