<template>
  <aside
    class="w-48 h-full overflow-y-auto bg-black bg-opacity-10 border-r border-black border-opacity-20 py-4 px-6"
    :class="{
      'block absolute left-0 top-16 bg-stone-900 bg-opacity-100 z-20': show,
      'hidden lg:block': !show,
    }"
    ref="sidebarRef"
  >
    <nav class="flex flex-col gap-0.5 -ml-6 -mr-6">
      <MenuItem to="/" text="Home">
        <template #default-icon>
          <RiHomeLine />
        </template>

        <template #active-icon>
          <RiHomeFill />
        </template>
      </MenuItem>

      <!-- <MenuItem to="/browse" text="Browse">
        <template #default-icon>
          <RiSearch2Line />
        </template>

        <template #active-icon>
          <RiSearch2Fill />
        </template>
      </MenuItem> -->

      <MenuItem to="/browse/latest" text="Latest">
        <template #default-icon>
          <RiTimerLine />
        </template>

        <template #active-icon>
          <RiTimerFill />
        </template>
      </MenuItem>

      <MenuItem to="/tops" text="Tops">
        <template #default-icon>
          <RiPulseLine />
        </template>

        <template #active-icon>
          <RiPulseFill />
        </template>
      </MenuItem>

      <MenuItem to="/genres" text="Genres">
        <template #default-icon>
          <RiEmotionLine />
        </template>

        <template #active-icon>
          <RiEmotionFill />
        </template>
      </MenuItem>

      <MenuItem to="/moods" text="Moods">
        <template #default-icon>
          <RiFlashlightLine />
        </template>

        <template #active-icon>
          <RiFlashlightFill />
        </template>
      </MenuItem>
    </nav>

    <div class="h-px my-6">
      <span class="block w-full h-px bg-stone-700 bg-opacity-50" />
    </div>

    <nav class="flex flex-col gap-0.5 -ml-6 -mr-6">
      <MenuItem to="/watchlist" text="Watchlist">
        <template #default-icon>
          <RiTimeLine />
        </template>

        <template #active-icon>
          <RiTimeFill />
        </template>
      </MenuItem>

      <MenuItem to="/favorities" text="Favorities">
        <template #default-icon>
          <RiHeartLine />
        </template>

        <template #active-icon>
          <RiHeartFill />
        </template>
      </MenuItem>
    </nav>
  </aside>
</template>

<script setup lang="ts">
import { ref } from 'vue'

import RiHomeLine from 'vue-remix-icons/icons/RiHomeLine.vue'
import RiHomeFill from 'vue-remix-icons/icons/RiHomeFill.vue'

import RiTimerLine from 'vue-remix-icons/icons/RiTimerLine.vue'
import RiTimerFill from 'vue-remix-icons/icons/RiTimerFill.vue'

import RiEmotionLine from 'vue-remix-icons/icons/RiEmotionLine.vue'
import RiEmotionFill from 'vue-remix-icons/icons/RiEmotionFill.vue'

import RiFlashlightLine from 'vue-remix-icons/icons/RiFlashlightLine.vue'
import RiFlashlightFill from 'vue-remix-icons/icons/RiFlashlightFill.vue'

import RiPulseLine from 'vue-remix-icons/icons/RiPulseLine.vue'
import RiPulseFill from 'vue-remix-icons/icons/RiPulseFill.vue'

import RiHeartLine from 'vue-remix-icons/icons/RiHeartLine.vue'
import RiHeartFill from 'vue-remix-icons/icons/RiHeartFill.vue'

import RiTimeLine from 'vue-remix-icons/icons/RiTimeLine.vue'
import RiTimeFill from 'vue-remix-icons/icons/RiTimeFill.vue'

import MenuItem from './App_Sidebar_MenuItem.vue'

type Props = {
  show: boolean;
}

const sidebarRef = ref(null)

const { show } = defineProps<Props>()

defineExpose({
  sidebarRef
})
</script>
