<template>
  <router-link
    :to="to"
    custom
    v-slot="{ isExactActive, href, navigate }"
  >
    <a
      class="flex items-center gap-3 py-1 px-6 border-l-4"
      :class="{
        'border-transparent text-stone-300 hover:text-stone-200': !isExactActive,
        'border-yellow-500 text-stone-200': isExactActive,
      }"
      :href="href"
      @click="navigate"
    >
      <span class="w-4 h-4 fill-current">
        <slot name="active-icon" v-if="isExactActive">
          <RiDropLine />
        </slot>

        <slot name="default-icon" v-else>
          <RiDropFill />
        </slot>
      </span>

      <span>{{ text }}</span>
    </a>
  </router-link>
</template>

<script setup lang="ts">
import RiDropLine from 'vue-remix-icons/icons/RiDropLine.vue'
import RiDropFill from 'vue-remix-icons/icons/RiDropFill.vue'

type Props = {
  to: string;
  text: string;
}

defineProps<Props>()
</script>
