<template>
  <h1 class="text-48/16">Latest Movies</h1>

  <span class="flex items-center gap-2" v-if="state.moviesLoading">
    <RiLoaderLine class="w-4 h-4 animate-spin" />

    Movies loading...
  </span>

  <div class="mt-2" v-if="!state.moviesLoading && state.moviesLoadingErrorMessage">
    <p class="text-red-400">{{ state.moviesLoadingErrorMessage }}</p>

    <button
      class="border border-stone-400 text-stone-300 rounded pb-1 px-3 mt-4"
      @click="handleGetMovies(state.currentPage)"
    >Try Again</button>
  </div>

  <p v-if="!state.moviesLoading && state.movies.length > 0">
    {{ state.moviesTotalCount }} movies were found in {{ totalPages }} pages.
  </p>

  <span class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-6 py-6">
    <MovieCard
      :movie="movie"
      :key="movie.imdbID"
      v-for="movie in state.movies"
    />
  </span>

  <Pagination
    :per-page="perPage"
    :current-page="state.currentPage"
    :total-count="state.moviesTotalCount"
    v-if="!state.moviesLoading && state.moviesTotalCount > 10"
  />
</template>

<script setup lang="ts">
import { onMounted, computed, reactive, nextTick, ref, Ref, ComputedRef } from 'vue'
import { useRoute } from 'vue-router'

import _takeRight from 'lodash/takeRight'
import _take from 'lodash/take'

import RiLoaderLine from 'vue-remix-icons/icons/RiLoaderLine.vue'

import { IMovieMini } from '../../../types/models'

import MovieCard from '../../../components/MovieCard.vue'
import Pagination from '../../../components/Pagination.vue'
import { searchMovie } from '../../../services/services.movie'

type StateProps = {
  moviesLoading: boolean;
  moviesLoadingErrorMessage: string;
  movies: Array<IMovieMini>;
  moviesTotalCount: number;
  currentPage: number;
}

const route = useRoute()

const state: StateProps = reactive({
  moviesLoading: true,
  moviesLoadingErrorMessage: '',
  movies: [],
  moviesTotalCount: 0,
  currentPage: 1,
})

const perPage: Ref<number> = ref(10)

const totalPages: ComputedRef<number> = computed(() => Math.ceil(state.moviesTotalCount / perPage.value))

const handleGetMovies = async (page: number = 1) => {
  // await new Promise((r) => setTimeout(r, 500))

  try {
    state.moviesLoading = true
    state.moviesLoadingErrorMessage = ''
    state.movies = []
    state.moviesTotalCount = 0

    const { Search, totalResults } = await searchMovie({ s: 'game', page })

    state.movies = Search
    state.moviesTotalCount = Number(totalResults)
  } catch (error) {
    state.moviesLoadingErrorMessage = error instanceof Error
      ? error.message
      : 'Unexpected error occured'
  } finally {
    state.moviesLoading = false
  }
}

onMounted(() => {
  if (route.query.page) {
    state.currentPage = route.query.page ? Number(route.query.page) : 1
  }

  nextTick(() => {
    handleGetMovies(state.currentPage)
  })
})
</script>